{
    "schemes": [
        "https",
        "http"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Holder Api Doc",
        "title": "Holder API",
        "termsOfService": "http://pando.im/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.pando.im/support",
            "email": "support@pando.im"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "holder-api.fox.one",
    "basePath": "/api",
    "paths": {
        "/actions": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "actions"
                ],
                "summary": "request payment code",
                "parameters": [
                    {
                        "description": "request payments",
                        "name": "request",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/actions.CreateRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/actions.CreateResponse"
                        }
                    }
                }
            }
        },
        "/info": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "system"
                ],
                "summary": "Show system info",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/system.InfoResponse"
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "login with mixin oauth code",
                "parameters": [
                    {
                        "description": "request login",
                        "name": "request",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/user.LoginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/user.LoginResponse"
                        }
                    }
                }
            }
        },
        "/pools": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Pools"
                ],
                "summary": "list all pools",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api.Resp_ListPools"
                        }
                    }
                }
            }
        },
        "/time": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "system"
                ],
                "summary": "Show server time",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/system.TimeResponse"
                        }
                    }
                }
            }
        },
        "/transactions": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transactions"
                ],
                "summary": "list transactions",
                "parameters": [
                    {
                        "type": "string",
                        "name": "cursor",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "name": "limit",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api.Resp_ListTransactions"
                        }
                    }
                }
            }
        },
        "/transactions/{follow_id}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transactions"
                ],
                "summary": "find tx by follow id",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Example: Bearer foo",
                        "name": "Authorization",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "follow id",
                        "name": "follow_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api.Transaction"
                        }
                    }
                }
            }
        },
        "/vaults": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Vaults"
                ],
                "summary": "List Vaults",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api.Resp_ListVaults"
                        }
                    }
                }
            }
        },
        "/vaults/{id}": {
            "get": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Vaults"
                ],
                "summary": "Find Vault By ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "vault id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/api.Vault"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "actions.CreateRequest": {
            "type": "object",
            "properties": {
                "amount": {
                    "description": "payment amount (optional)",
                    "type": "number"
                },
                "asset_id": {
                    "description": "payment asset id (optional)",
                    "type": "string",
                    "format": "uuid"
                },
                "follow_id": {
                    "description": "follow id to track tx (uuid)",
                    "type": "string",
                    "format": "uuid"
                },
                "parameters": {
                    "description": "tx parameters\nlock [\"bit\",\"8\",\"int\",\"120\",\"int\",\"120\"]\nunlock [\"bit\",\"9\",\"uuid\",\"{vault_id}\"]\ndonate [\"bit\",\"6\"]",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "actions.CreateResponse": {
            "type": "object",
            "properties": {
                "code": {
                    "description": "multisig payment code",
                    "type": "string"
                },
                "code_url": {
                    "description": "multisig payment code url",
                    "type": "string"
                },
                "memo": {
                    "description": "payment memo",
                    "type": "string"
                }
            }
        },
        "api.Pagination": {
            "type": "object",
            "properties": {
                "has_next": {
                    "type": "boolean"
                },
                "next_cursor": {
                    "type": "string"
                }
            }
        },
        "api.Pool": {
            "type": "object",
            "properties": {
                "amount": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "liquidity": {
                    "type": "string"
                },
                "logo": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "pardoned_at": {
                    "description": "@inject_tag: swaggertype:\"string\" format:\"date\"",
                    "type": "string",
                    "format": "date"
                },
                "price": {
                    "type": "string"
                },
                "profit": {
                    "type": "string"
                },
                "reward": {
                    "type": "string"
                },
                "reward_at": {
                    "description": "@inject_tag: swaggertype:\"string\" format:\"date\"",
                    "type": "string",
                    "format": "date"
                },
                "share": {
                    "type": "string"
                }
            }
        },
        "api.Resp_ListPools": {
            "type": "object",
            "properties": {
                "pools": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/api.Pool"
                    }
                }
            }
        },
        "api.Resp_ListTransactions": {
            "type": "object",
            "properties": {
                "pagination": {
                    "$ref": "#/definitions/api.Pagination"
                },
                "transactions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/api.Transaction"
                    }
                }
            }
        },
        "api.Resp_ListVaults": {
            "type": "object",
            "properties": {
                "vaults": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/api.Vault"
                    }
                }
            }
        },
        "api.Transaction": {
            "type": "object",
            "properties": {
                "action": {
                    "type": "integer"
                },
                "amount": {
                    "type": "string"
                },
                "asset_id": {
                    "type": "string"
                },
                "created_at": {
                    "description": "@inject_tag: swaggertype:\"string\" format:\"date\"",
                    "type": "string",
                    "format": "date"
                },
                "id": {
                    "type": "string"
                },
                "msg": {
                    "type": "string"
                },
                "parameters": {
                    "type": "string"
                },
                "status": {
                    "type": "integer"
                }
            }
        },
        "api.Vault": {
            "type": "object",
            "properties": {
                "amount": {
                    "type": "string"
                },
                "asset_id": {
                    "type": "string"
                },
                "created_at": {
                    "description": "@inject_tag: swaggertype:\"string\" format:\"date\"",
                    "type": "string",
                    "format": "date"
                },
                "duration": {
                    "type": "integer"
                },
                "id": {
                    "type": "string"
                },
                "liquidity": {
                    "type": "string"
                },
                "locked_price": {
                    "type": "string"
                },
                "min_duration": {
                    "type": "integer"
                },
                "penalty": {
                    "type": "string"
                },
                "pool": {
                    "$ref": "#/definitions/api.Pool"
                },
                "released_at": {
                    "description": "@inject_tag: swaggertype:\"string\" format:\"date\"",
                    "type": "string",
                    "format": "date"
                },
                "released_price": {
                    "type": "string"
                },
                "reward": {
                    "type": "string"
                },
                "share": {
                    "type": "string"
                },
                "status": {
                    "type": "integer"
                },
                "user_id": {
                    "type": "string"
                }
            }
        },
        "system.InfoResponse": {
            "type": "object",
            "properties": {
                "members": {
                    "description": "multisig members",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "oauth_client_id": {
                    "description": "oauth client id",
                    "type": "string",
                    "format": "uuid"
                },
                "public_key": {
                    "type": "string"
                },
                "threshold": {
                    "description": "multisig threshold",
                    "type": "integer"
                }
            }
        },
        "system.TimeResponse": {
            "type": "object",
            "properties": {
                "epoch": {
                    "type": "integer"
                },
                "iso": {
                    "type": "string"
                }
            }
        },
        "user.LoginRequest": {
            "type": "object",
            "properties": {
                "code": {
                    "description": "mixin oauth code",
                    "type": "string"
                }
            }
        },
        "user.LoginResponse": {
            "type": "object",
            "properties": {
                "avatar": {
                    "description": "user avatar",
                    "type": "string"
                },
                "id": {
                    "description": "user mixin id",
                    "type": "string",
                    "format": "uuid"
                },
                "language": {
                    "description": "Preferred language",
                    "type": "string"
                },
                "name": {
                    "description": "user name",
                    "type": "string"
                },
                "scope": {
                    "description": "mixin oauth scope",
                    "type": "string"
                },
                "token": {
                    "description": "mixin oauth token",
                    "type": "string"
                }
            }
        }
    }
}